### Ponemos encoding='cp1252' para que se pueda leer ya que está en otra codificación la cual no se puede leer de manera normal.

In [1]:
import pandas as pd
import numpy as np

datos = pd.read_csv("../../Datasets/dirty_dataset.csv", encoding='cp1252')

In [2]:
datos.head()

,Paï¿½s/Region!!,Region,Happiness Rank,SCORE_FELICIDAD (2015),Standard Error,Economï¿½a,Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switz3rland,WESTERN EUROPE,1,7.587,0.03411,1.39651 ï¿½,"1,34951",0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,WESTERN EUROPE,2,7.561,0.04884,1.30232 ï¿½,"1,40223",0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,WESTERN EUROPE,3,7.527,0.03328,1.32548 ï¿½,"1,36058",0.87464,0.64938,0.48357,0.34139,2.49204
3,Nor-way,WESTERN EUROPE,4,7.522,0.03880,1.459 ï¿½,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Ivï¿½n_espabila,NORTH AMERICA,5,7.427,0.03553,1.32629 ï¿½,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

### Limpieza de cabezera

In [3]:
datos.rename(columns={'Paï¿½s/Region!!': 'Pais_Region',
                      'Economï¿½a': 'Economia'}, inplace=True)

datos.head()

,Pais_Region,Region,Happiness Rank,SCORE_FELICIDAD (2015),Standard Error,Economia,Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switz3rland,WESTERN EUROPE,1,7.587,0.03411,1.39651 ï¿½,"1,34951",0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,WESTERN EUROPE,2,7.561,0.04884,1.30232 ï¿½,"1,40223",0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,WESTERN EUROPE,3,7.527,0.03328,1.32548 ï¿½,"1,36058",0.87464,0.64938,0.48357,0.34139,2.49204
3,Nor-way,WESTERN EUROPE,4,7.522,0.03880,1.459 ï¿½,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Ivï¿½n_espabila,NORTH AMERICA,5,7.427,0.03553,1.32629 ï¿½,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

### Limpieza de datos con símbolos raros y pasados a datos numéricos en Economia y Family.

Miramos el tipo de dato de las tablas y identificamos las que no coinciden.

In [4]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Pais_Region                    163 non-null    object
 1   Region                         163 non-null    object
 2   Happiness Rank                 163 non-null    int64
 3   SCORE_FELICIDAD (2015)         148 non-null    float64
 4   Standard Error                 163 non-null    float64
 5   Economia                       163 non-null    object
 6   Family                         163 non-null    object
 7   Health (Life Expectancy)       163 non-null    float64
 8   Freedom                        163 non-null    float64
 9   Trust (Government Corruption)  163 non-null    float64
 10  Generosity                     163 non-null    float64
 11  Dystopia Residual              163 non-null    float64
dtypes: float64(7), int64(1), object(4)
memory usage: 15.4+ KB

In [5]:
columna_economia_limpia = 'Economia' 
columna_family_limpia = 'Family' 


#Limpiamos los símbolos
datos[columna_economia_limpia] = datos[columna_economia_limpia].astype(str).str.extract(r'(\d+\.?\d*)', expand=False)
datos[columna_family_limpia] = datos[columna_family_limpia].astype(str).str.replace(',', '.', regex=False)


#Pasamos los datos a float64
datos[columna_family_limpia] = pd.to_numeric(datos[columna_family_limpia], errors='coerce')
datos[columna_economia_limpia] = pd.to_numeric(datos[columna_economia_limpia], errors='coerce')



datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Pais_Region                    163 non-null    object
 1   Region                         163 non-null    object
 2   Happiness Rank                 163 non-null    int64
 3   SCORE_FELICIDAD (2015)         148 non-null    float64
 4   Standard Error                 163 non-null    float64
 5   Economia                       163 non-null    float64
 6   Family                         163 non-null    float64
 7   Health (Life Expectancy)       163 non-null    float64
 8   Freedom                        163 non-null    float64
 9   Trust (Government Corruption)  163 non-null    float64
 10  Generosity                     163 non-null    float64
 11  Dystopia Residual              163 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 15.4+ KB

### Miramos que datos son NaN

In [6]:
datos.isna().sum()

Pais_Region                       0
Region                            0
Happiness Rank                    0
SCORE_FELICIDAD (2015)           15
Standard Error                    0
Economia                          0
Family                            0
Health (Life Expectancy)          0
Freedom                           0
Trust (Government Corruption)     0
Generosity                        0
Dystopia Residual                 0
dtype: int64

Vemos que solo hay NaN en la columna SCORE_FELICIDAD 

Haremos que los NaN tengan el valor de la media

Quitamos Outliers

In [ ]:

columna_felicidad = 'SCORE_FELICIDAD (2015)' 

#Limpiar los valores atípicos (Outliers) de forma segura 
limite_superior = 10.0
limite_inferior = 0.0

condicion_outlier_superior = datos[columna_felicidad] > limite_superior
condicion_outlier_inferior = datos[columna_felicidad] < limite_inferior

datos.loc[condicion_outlier_superior, columna_felicidad] = np.nan
datos.loc[condicion_outlier_inferior, columna_felicidad] = np.nan

#Calcular la Media 
media_felicidad = datos[columna_felicidad].mean()

#Rellenar los NaN con la Media (uso seguro) 
datos[columna_felicidad] = datos[columna_felicidad].fillna(media_felicidad)

datos.isna().sum()

Pais_Region                      0
Region                           0
Happiness Rank                   0
SCORE_FELICIDAD (2015)           0
Standard Error                   0
Economia                         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

### Eliminación de Regiones que no existen

In [12]:
# Reemplazar la categoría no válida por NaN primero (si no lo está ya)
datos['Region'] = datos['Region'].replace('Narnia Region', np.nan)

# Eliminar las filas que tienen NaN en la columna 'Region'
datos.dropna(subset=['Region'], inplace=True)

print(f"Filas restantes después de la eliminación: {len(datos)}")

Filas restantes después de la eliminación: 157

### Eliminación de países inexistentes

In [13]:
# 1. Corregir Switz3rland -> Switzerland
datos['Pais_Region'] = datos['Pais_Region'].str.replace('Switz3rland', 'Switzerland', regex=False)

# 2. Corregir Nor-way -> Norway
datos['Pais_Region'] = datos['Pais_Region'].str.replace('Nor-way', 'Norway', regex=False)

# 3. Corregir Iv�n_espabila -> lo eliminamos por que no existe
datos['Pais_Region'] = datos['Pais_Region'].replace('Narnia Region', np.nan)
datos.dropna(subset=['Pais_Region'], inplace=True)