In [47]:
import pandas as pd
import numpy as np

In [48]:
df=pd.read_csv("source_clean_dataset.csv")

Invoice ID: Unique identifier for each transaction.

Branch: The branch location of the supermarket (e.g., Yangon, Naypyitaw, Mandalay).

City: The city in which the supermarket branch is located.

Customer Type: Indicates whether the customer is a 'Member' or 'Normal'.

Gender: Gender of the customer.

Product Line: The category of the product sold (e.g., Health & Beauty, Electronic Accessories, Home & Lifestyle).

Unit Price: Price per unit of the product.

Quantity: Number of items purchased.

Tax 5%: Calculated tax amount on the transaction at a 5% rate.

Total: Total amount for the transaction including tax.

Date: Date of the transaction.

Time: Time of the transaction.

Payment: Payment method used (e.g., Cash, Ewallet, Credit card).

COGS: Cost of goods sold, representing the raw cost of the products.

Gross Margin Percentage: Fixed percentage of profit for each sale (4.7619%).

Gross Income: Profit earned from the transaction.

Rating: Customer satisfaction rating (out of 10).

Eliminar el indice sobrante

In [49]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Sales,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,Alex,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,1:08:00 PM,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,Giza,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29:00 AM,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,Alex,Yangon,Normal,Female,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,1:23:00 PM,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,Alex,Yangon,Member,Female,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,8:33:00 PM,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,Alex,Yangon,Member,Female,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37:00 AM,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,Giza,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,1:46:00 PM,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,Cairo,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,5:16:00 PM,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,Alex,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,1:22:00 PM,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,Alex,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,3:33:00 PM,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,Alex,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,1:28:00 PM,Cash,618.38,4.761905,30.9190,6.6

1. Datos Faltantes: Eliminar aleatoriamente el 10% de valores en Ventas Globales.

2. Filas Duplicadas: Duplicar 10 filas por completo.

3. Outliers: Insertar 3-5 valores extremos.

4. Inconsistencias de Formato 

5. Inconsistencias de Formato (Unidades/Moneda): Poner el símbolo € al final de algunos valores de Precio de Lanzamiento (€).

6. Errores Tipográficos: Usar la librería FuzzyWuzzy o similar para introducir errores de tipeo en Título del Juego y Desarrollador.

7. Categorías Extra: Añadir una nueva categoría falsa en Género (e.g., "Deportes 2.0") o en Plataforma (e.g., "PC (SteamOS)").

8. Tipos de Datos Incorrectos: Convertir Puntuación Media de Integer a String.

9. Símbolos Extra: Añadir comas o puntos extra en algunos valores numéricos (e.g., "1,555.3" en vez de "1555.3").

10. Codificación: Si el archivo original se guarda como UTF-8, el creador puede intentar guardar temporalmente y reabrir el archivo con una codificación diferente (latin-1) para introducir problemas de caracteres especiales.

In [50]:
df.loc[df.sample(frac=0.1).index, 'gross_income'] = np.nan

In [51]:
df = pd.concat([df, df.sample(n=10)], ignore_index=True)

In [52]:
df.loc[df.sample(n=5).index, 'unit_price'] = 5000

In [53]:
indices = df.sample(frac=0.1).index
# 2. Convertir números a texto agregando un símbolo (ej: 45.0 -> "45.0 $")
df.loc[indices, 'Unit price'] = df.loc[indices, 'Unit price'].astype(str) + ' $'

/tmp/ipykernel_11044/3089725648.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['36.36 $' '14.36 $' '23.34 $' '87.08 $' '52.59 $' '47.63 $' '74.58 $'
 '55.5 $' '25.31 $' '99.83 $' '25.32 $' '71.38 $' '80.48 $' '21.12 $'
 '15.69 $' '94.87 $' '79.91 $' '33.81 $' '48.51 $' '67.39 $' '35.74 $'
 '62.18 $' '21.04 $' '29.61 $' '12.1 $' '99.3 $' '54.86 $' '81.68 $'
 '50.45 $' '87.67 $' '12.03 $' '66.06 $' '55.81 $' '58.76 $' '46.2 $'
 '46.33 $' '85.39 $' '68.71 $' '17.94 $' '51.34 $' '39.39 $' '45.35 $'
 '82.58 $' '72.2 $' '71.2 $' '81.51 $' '11.94 $' '40.3 $' '19.32 $'
 '54.28 $' '28.32 $' '96.52 $' '45.38 $' '39.21 $' '77.2 $' '63.88 $'
 '57.95 $' '40.26 $' '12.73 $' '99.55 $' '78.38 $' '60.87 $' '78.89 $'
 '28.84 $' '11.85 $' '21.58 $' '34.37 $' '86.8 $' '15.8 $' '73.22 $'
 '67.43 $' '90.74 $' '74.79 $' '69.51 $' '68.6 $' '33.33 $' '74.97 $'
 '52.38 $' '34.42 $' '35.54 $' '71.68 $' '49.01 $' '66.35 $' '88.61 $'
 '44.02 $' '72.61 $' '65.23 $' '21.12 $' '26.02 $' '72.17 $' '77.63 $'
 '21.87 $' '35.68 $' '62.0 $' '76.4 $' '37.48 $' '54.55 $' '33.63 $'
 '64.19 $' '68.71 $' '73.47 $']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[indices, 'Unit price'] = df.loc[indices, 'Unit price'].astype(str) + ' $'

In [54]:
df.loc[df.sample(frac=0.05).index, 'Customer type'] = 'Memmber'
df.loc[df.sample(frac=0.05).index, 'City'] = 'Yangoon'

In [55]:
# Introduce 'Bitcoin' en el 5% de los pagos (el supermercado no acepta criptos)
df.loc[df.sample(frac=0.05).index, 'Payment'] = 'Bitcoin'

# Introduce '?' en el 5% de la columna de género
df.loc[df.sample(frac=0.05).index, 'Gender'] = '?'

In [56]:
# Convertimos toda la columna de Cantidad e Ingresos a texto (string)
df['Quantity'] = df['Quantity'].astype(str)
df['gross_income'] = df['gross_income'].astype(str)

In [57]:
# Diccionario para mapear los nombres correctos a nombres 'sucios'
nombres_sucios = {
    'InvoiceID': 'Invoice ID ',    # Espacio invisible al final (causa KeyErrors)
    'City': 'CITY',                # Inconsistencia (Gritando en mayúsculas)
    'Unit price': 'unit_price',    # Cambio de estilo (Snake case vs Camel case)
    'Tax 5%': 'Tax(5%)'            # Paréntesis que complican la sintaxis
}

# Aplicamos los cambios al dataset
df.rename(columns=nombres_sucios, inplace=True)

In [58]:
# Selecciona el 10% de las filas al azar
indices_sucios = df.sample(frac=0.1).index

# Convierte el número a texto y le pega el símbolo (ej: 26.1 -> "26.1€")
df.loc[indices_sucios, 'gross_income'] = df.loc[indices_sucios, 'gross_income'].astype(str) + '€'

In [59]:
df

,Invoice ID,Branch,CITY,Customer type,Gender,Product line,unit_price,Quantity,Tax(5%),Sales,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,gross_income,unit_price
0,750-67-8428,Alex,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,1:08:00 PM,Ewallet,522.83,4.761905,26.1415,9.1,nan,NaN
1,226-31-3081,Giza,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29:00 AM,Cash,76.40,4.761905,3.8200,9.6,nan,NaN
2,631-41-3108,Alex,Yangon,Normal,Female,Home and lifestyle,46.33 $,7,16.2155,340.5255,3/3/2019,1:23:00 PM,Credit card,324.31,4.761905,16.2155,7.4,nan,NaN
3,123-19-1176,Alex,Yangon,Member,Female,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,8:33:00 PM,Ewallet,465.76,4.761905,23.2880,8.4,nan,NaN
4,373-73-7910,Alex,Yangon,Member,Female,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37:00 AM,Ewallet,604.17,4.761905,30.2085,5.3,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,437-58-8131,Cairo,Mandalay,Normal,?,Fashion accessories,73.52,2,7.3520,154.3920,1/15/2019,1:41:00 PM,Ewallet,147.04,4.761905,7.3520,4.6,nan,NaN
1006,219-22-9386,Cairo,Mandalay,Member,Female,Sports and travel,99.96,9,44.9820,944.6220,3/9/2019,5:26:00 PM,Credit card,899.64,4.761905,44.9820,4.2,nan,NaN
1007,868-52-7573,Cairo,Mandalay,Normal,Female,Food and beverages,99.69,5,24.9225,523.3725,1/14/2019,12:09:00 PM,Cash,498.45,4.761905,24.9225,9.9,nan€,NaN
1008,573-10-3877,Cairo,Mandalay,Member,Male,Health and beauty,39.01,1,1.9505,40.9605,3/12/2019,4:46:00 PM,Credit card,39.01,4.761905,1.9505,4.7,nan,NaN
1009,639-76-1242,Giza,Naypyitaw,Normal,Male,Food and beverages,40.52,5,10.1300,212.7300,2/3/2019,3:19:00 PM,Cash,202.60,4.761905,10.1300,4.5,nan€,NaN

In [60]:
df = df.to_csv('dirty_dataset.csv')