### Ponemos encoding='cp1252' para que se pueda leer ya que está en otra codificación la cuan no se puede leer de manera normal.

In [ ]:
import pandas as pd

datos = pd.read_csv("../../Datasets/dirty_dataset.csv", encoding='cp1252')

In [3]:
datos.head()

,País/Region!!,Region,Happiness Rank,SCORE_FELICIDAD (2015),Standard Error,Economía,Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switz3rland,WESTERN EUROPE,1,7.587,0.03411,1.39651 €,"1,34951",0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,WESTERN EUROPE,2,7.561,0.04884,1.30232 €,"1,40223",0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,WESTERN EUROPE,3,7.527,0.03328,1.32548 €,"1,36058",0.87464,0.64938,0.48357,0.34139,2.49204
3,Nor-way,WESTERN EUROPE,4,7.522,0.03880,1.459 €,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Iván_espabila,NORTH AMERICA,5,7.427,0.03553,1.32629 €,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176