In [1]:
import pandas as pd
import random as rd

In [2]:
df = pd.read_csv("Heart_Disease_Prediction.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              270 non-null    int64
 5   FBS over 120             270 non-null    int64
 6   EKG results              270 non-null    int64
 7   Max HR                   270 non-null    int64
 8   Exercise angina          270 non-null    int64
 9   ST depression            270 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    object
dtypes: float64(1), int64(12), object(1)
memory usage: 29.7+ KB

In [4]:
df.tail(5)

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

Hacer la conversión despues de colocar los tipos en nulo sería mucho más destructivo y problematico, isna() no lo detecta porque en NaN se convierte al literal "nan". No lo vamos ha hacer porque sería muy molesto para los compañeros.

In [5]:
duplicates = pd.DataFrame([df.iloc[rd.randint(0, df.shape[0]-1)].values for x in range (0, rd.randint(1,5))], columns=df.columns)
df = pd.concat([df, duplicates])

In [6]:
for column in df.columns:
    if (rd.randint(0,10)<7):
        for k in df.loc[:, column].keys(): 
            if (rd.randint(0,10)<5): df.loc[k, column] = None
    if (rd.randint(0,10)<3):
        for k in df.loc[:, column].keys():
            if (rd.randint(0,100)<10):
                if isinstance(k, (int, float)): df.loc[k, column] += 1000
                if isinstance(k, (str)): k += "%"

In [7]:
df.head(10)

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70.0,NaN,4.0,NaN,NaN,0,NaN,NaN,NaN,2.4,NaN,3.0,NaN,Presence
1,NaN,NaN,3.0,NaN,NaN,0,NaN,NaN,0.0,NaN,NaN,0.0,7.0,Absence
2,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0.3,NaN,NaN,NaN,Presence
3,NaN,1.0,4.0,128.0,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,7.0,Absence
4,NaN,0.0,NaN,120.0,269.0,0,NaN,NaN,1.0,0.2,1.0,1.0,3.0,Absence
5,65.0,1.0,4.0,120.0,NaN,0,0.0,140.0,0.0,0.4,NaN,0.0,NaN,Absence
6,56.0,NaN,NaN,130.0,256.0,1,2.0,NaN,NaN,0.6,2.0,1.0,6.0,Presence
7,59.0,NaN,4.0,110.0,NaN,1000,2.0,142.0,NaN,NaN,2.0,NaN,NaN,Presence
8,60.0,NaN,NaN,NaN,NaN,0,NaN,170.0,NaN,1.2,2.0,NaN,NaN,Presence
9,63.0,0.0,1004.0,150.0,407.0,1000,2.0,154.0,NaN,4.0,NaN,3.0,NaN,Presence

In [8]:
df = df.astype("str")

In [11]:
df.to_csv("dirty_salud_fran.csv", encoding="utf-16")